@{
    ViewBag.Title = "Your Quote";
}

<div class="jumbotron jumbotron-fluid text-center center-block p-2">
    <div class="container">
        <h1 class="display-4">Thank you for submitting your request!</h1>
        <h1 class="display-4">Your car insurance quote is @ViewBag.endQuote</h1>
    </div>
</div>
